/* .col-1 {
    width: 33.3%;
    float: left;
    background-color: aquamarine;
    height: 400px;
}

.col-2 {
    width: 33.3%;
    float: left;
    background-color: bisque;
    height: 400px;
}

.col-3 {
    width: 33.3%;
    float: left;
    background-color: brown;
    height: 400px;
}

.main {
    width: 100%;
} */

/* @media screen and (max-width:425px) {
    .col-1, .col-3 {
        display: none;
    }    

    .col-2 {
        width: 100%;
    }
} */
/* 
.col-1, .col-2, .col-3 {
    border: 4px solid blueviolet;
    width: 33;
    float: left;
    width: 250px;
    height: 250px;
    margin-right: 1%;
}

.col-4 {
    display: none;
    
}

.main {
    width: 100%;
}

@media screen and (max-width:425px) {
    .col-1, .col-3 {
        display: none;
    }
    .col-2 {
        border-radius: 50%;
       height: 200px;
       width: 200px;
       margin: auto;
       position: absolute;
       top: 1%;
       left: 25%;
    }
    .col-4 {
        display: block;
        position: absolute;
        top: 50%;
        left: 5%;
        border: 2px solid rebeccapurple;
        background-color: rgb(77, 165, 42);
        width: 90%;
        height: 150px;
        margin: auto;
    }
} */

/* .main {
    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
    height: 500px;
    align-items: center;
}

.col {
    width: 70px;
    height: 70px;
    text-align: center;
    vertical-align: auto;
}

.col-1 {
    background-color: blue;
}

.col-2 {
    background-color: rgb(110, 189, 36);
}
.col-3 {
    background-color: rgb(116, 15, 85);
}
.col-4 {
    background-color: rgb(219, 150, 104);
} */

.up {
    text-transform: uppercase;
    font-weight: bolder;
}

.pi {
   text-decoration: underline;
   color: rgb(235, 170, 32);
}

.nav {
    display: flex;
    width: 33.3%;
    justify-content: space-around;
    margin: auto;

}

.header {
    background-image: url(https://wallscloud.net/uploads/cache/2016563792/gorod-reka-doma-neboskrioby-noch-ogni-nebo-zviozdy-voda-otra-1024x576-MM-90.jpg);
    width: 100%;
    height: 500px;
}

.mainh {
    color: azure;
    text-align: center;
}

h1 {
    padding-top: 180px;
    padding-bottom: 80px;
}


.text { 
    float: left;
  width: 50%;
}

.image1 {
float: right;
margin-top: 10px;
margin-bottom: 70px;
}

.block-2-photo {
    width: 70%;
    margin: auto;
}

 .block {
    width: 70%;
    margin: auto;
}

.clear {
    clear: both;
    padding-top: 180px;
}

.second {
    color: black;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 0;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

.photo {
    width: 400px;
    height: 400px;
    margin: 0 0 40px;
}

.blue {
    border: 2px solid blue;
    background-color: blue;
    padding: 10px 6px;
    color: whitesmoke;
    text-align: center;
    width: 25%;
    margin: auto;
}

.people {
    height: 260px;
    width: 194px;
}

.gallery2photo{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.gallery2 {
    font-weight: bold;
    text-align: center;
}

.cards1 {
    display: flex;
background-color: white;
border: 1px solid red;
width: 30%;
}
.cards2 {
    
    width: 30%;
}




.cardstext1 {
    float: right;
    border: 1px solid red;
} 

.cardsboth {
    width: 70%;
}